<app-header></app-header>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<div>
    <form [formGroup]="form" (submit)="submit()">
        <div class="title">
            <h2>AnguApp</h2>
        </div>
        <div>
            <label for="mail">Mail</label>
            <mat-form-field class="input">
                <input matInput type="email" placeholder="inserisci la tua mail" 
                    formControlName="mail">
            </mat-form-field>
            <label for="verification_code">Codice di verifica</label>
            <mat-form-field class="input">
                <input matInput type="number" placeholder="inserisci il codice di verifica" 
                    formControlName="verification_code">
            </mat-form-field>
            <button type="submit" class="btn btn-primary" >Verifica</button>
            <div class="footer">
                <h4>Già confermato la mail? </h4>
                <h4 [routerLink]="['/Login']" class="reg"> Accedi qui</h4>
            </div>
        </div>
    </form>
</div>